body {
  background-color: #0b0b0b;
  color: #fff;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero img{
    height: 500px;
}
.badge-custom {
  background-color: #1a1818;
  border: 1px solid #333;
}

.card {
  background-color: #111;
  border: 1px solid #222;
}

.card img {
  height: 200px;
  object-fit: cover;
}

.form-control {
  background-color: #111;
  border: 1px solid #222;
  color: #fff;
}

.form-control::placeholder {
  color: #888;
}

footer {
  border-top: 1px solid #222;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f8f9fa;
}
